# ---- .NET / Visual Studio ----
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
.vscode/
.vs/
*.dbmdl
*.bak
*.log

# ---- Angular / Node ----
node_modules/
dist/
.angular/
npm-debug.log
yarn-error.log
package-lock.json

# ---- System / Misc ----
*.DS_Store
Thumbs.db
.env
